pipeline/PL_BEG_BAIXES_HISTORICO.json
{
	"name": "PL_BEG_BAIXES_HISTORICO",
	"properties": {
		"activities": [
			{
				"name": "FIJAR_INICIO",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_F_FIN",
					"value": {
						"value": "@pipeline().parameters.P_INI",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IGUALA_FI",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FIJAR_INICIO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_F_FIN_2",
					"value": {
						"value": "@variables('V_F_FIN')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BUCLE",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "IGUALA_FI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('V_UNTIL')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CHECK_FIN_BUCLE",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "PL_BEG_BAIXES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_UNTIL",
								"value": {
									"value": "@bool(lessOrEquals(pipeline().parameters.P_FIN, variables('V_F_FIN')))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CHECK_FIN_BUCLE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_F_FIN",
								"value": {
									"value": "@if(equals(substring(variables('V_F_FIN_2'),4,2),'12'),concat(string(add(int(substring(variables('V_F_FIN_2'),0,4)),1)),'01') , string(add(int(variables('V_F_FIN_2')),1)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_F_FIN_2",
								"value": {
									"value": "@variables('V_F_FIN')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PL_BEG_BAIXES",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_BAIXES",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@variables('V_F_FIN')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"P_INI": {
				"type": "string",
				"defaultValue": "202101"
			},
			"P_FIN": {
				"type": "string",
				"defaultValue": "202106"
			}
		},
		"variables": {
			"V_UNTIL": {
				"type": "Boolean",
				"defaultValue": false
			},
			"V_F_FIN": {
				"type": "String"
			},
			"V_F_FIN_2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SINTESI BEG/FLUX BAIXES"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-19T09:22:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}