pipeline/PL_BEG_FACT.json
{
	"name": "PL_BEG_FACT",
	"properties": {
		"activities": [
			{
				"name": "PL_BEG_FACT_STG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SET_DATA_INICIO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_BEG_FACT_STG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Data_Carrega": {
							"value": "@pipeline().parameters.Data_Carrega",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PL_BEG_FACT_STG_PRESTECS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_BEG_FACT_STG_2",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_BEG_FACT_STG_PRESTECS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Data_Carrega": {
							"value": "@pipeline().parameters.Data_Carrega",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PL_BEG_FACT_STG_2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_BEG_FACT_STG",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_BEG_FACT_STG_2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Data_Carrega": {
							"value": "@pipeline().parameters.Data_Carrega",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CAPTURA_ERROR",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SET_NUM_ERRORS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(int(variables('NUM_ERRORS')),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PL_BEG_FACT_ODS1",
							"description": "Calcula Indicadores Base",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_FACT_ODS1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@pipeline().parameters.Data_Carrega",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_BEG_FACT_ODS2",
							"description": "Une todos los indicadores base en una sola tabla",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PL_BEG_FACT_ODS1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_FACT_ODS2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@pipeline().parameters.Data_Carrega",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_BEG_FACT_ODS3",
							"description": "Pone indicadores que no se han calculado para las bibliotecas con un NULL",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PL_BEG_FACT_ODS2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_FACT_ODS3",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@pipeline().parameters.Data_Carrega",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_BEG_FACT_ODS4",
							"description": "Calcula indicadores a partir de los base",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PL_BEG_FACT_ODS3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_FACT_ODS4",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@pipeline().parameters.Data_Carrega",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_BEG_FACT_DM",
							"description": "Inserta en la DM_BEG_FACT_INDICADORS",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PL_BEG_FACT_ODS5",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_FACT_DM",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@pipeline().parameters.Data_Carrega",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_BEG_FACT_ODS5",
							"description": "Une los prestamos anuales con los demás y añade el AGENCY como codigo.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PL_BEG_FACT_ODS4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_FACT_ODS5",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@pipeline().parameters.Data_Carrega",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_BEG_FACT_STG_HIST",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BEG_FACT_STG_HIST",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Carrega": {
										"value": "@pipeline().parameters.Data_Carrega",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "NUM_ERRORS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PL_BEG_FACT_STG_PRESTECS",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@CONCAT('select COUNT(error) AS NUM_ERRORS from [BEG_STG].[LOGS_BEG]\nwhere error not like ''%sftppathnotfound%'' AND ERROR IS NOT NULL AND DATA_INSERCIO < ''',activity('DATA_INICIO').output.firstRow.DATA_INICIO,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DM_BEG_FACT_INDICADORS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_NUM_ERRORS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "NUM_ERRORS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NUM_ERRORS",
					"value": {
						"value": "@string(activity('NUM_ERRORS').output.firstRow.NUM_ERRORS)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DATA_INICIO",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT GETDATE() AS DATA_INICIO;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DM_BEG_FACT_INDICADORS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_DATA_INICIO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DATA_INICIO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DATA_INICIO",
					"value": {
						"value": "@activity('DATA_INICIO').output.firstRow.DATA_INICIO",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Data_Carrega": {
				"type": "string",
				"defaultValue": "202101"
			}
		},
		"variables": {
			"NUM_ERRORS": {
				"type": "String"
			},
			"DATA_INICIO": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SINTESI BEG/FLUX FITXERS"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-19T09:22:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}