df-clt-pre/linkedTemplates/ArmTemplate_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-clt-pre"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_BEG_BAIXES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_BEG_BAIXES_STG",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_STG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_BAIXES_STG_HIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_BAIXES_STG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_STG_HIST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_BAIXES_ODS1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_BAIXES_STG_HIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_ODS1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_BAIXES_ODS2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_BAIXES_ODS1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_ODS2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_BEG_BAIXES_ODS3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_BAIXES_ODS2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_ODS3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_BAIXES_ODS4",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_BAIXES_ODS3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_ODS4",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_BAIXES_DM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_BAIXES_ODS4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_DM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Data_Carrega": {
						"type": "string",
						"defaultValue": "202107"
					}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX BAIXES"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BEG_DIM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BEG_DIM_LOCATIONS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [BEG_DM].[DM_BEG_DIM_LOCATIONS]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_DIM_LOCATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DM_BEG_DIM_LOCATIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BEG_DIM_TERMINALS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [BEG_DM].[DM_BEG_DIM_TERMINALS]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_DIM_TERMINALS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DM_BEG_DIM_TERMINALS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BEG_DIM_INDICADORS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [BEG_DM].[DM_BEG_DIM_INDICADORS]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_INDICADORS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DM_BEG_DIM_INDICADORS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BEG_DIM_TIME",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DIM_TIME",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CSVTime": {},
									"DMDimTime": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "BEG_DIM_REL_P_TYPE_INDICADORS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "XLSX_BEG_DIM_REL_P_TYPE_INDICADOR",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DM_BEG_DIM_REL_P_TYPE_INDICADOR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PL_BEG_DIM_BIBLIOTEQUES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_DIM_BIBLIOTEQUES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX FITXERS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BEG_FACT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_BEG_FACT_STG",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SET_DATA_INICIO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_FACT_STG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_FACT_STG_PRESTECS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_FACT_STG_2",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_FACT_STG_PRESTECS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_FACT_STG_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_FACT_STG",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_FACT_STG_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@pipeline().parameters.Data_Carrega",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CAPTURA_ERROR",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SET_NUM_ERRORS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(int(variables('NUM_ERRORS')),0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "PL_BEG_FACT_ODS1",
									"description": "Calcula Indicadores Base",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT_ODS1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@pipeline().parameters.Data_Carrega",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_BEG_FACT_ODS2",
									"description": "Une todos los indicadores base en una sola tabla",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_BEG_FACT_ODS1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT_ODS2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@pipeline().parameters.Data_Carrega",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_BEG_FACT_ODS3",
									"description": "Pone indicadores que no se han calculado para las bibliotecas con un NULL",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_BEG_FACT_ODS2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT_ODS3",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@pipeline().parameters.Data_Carrega",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_BEG_FACT_ODS4",
									"description": "Calcula indicadores a partir de los base",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_BEG_FACT_ODS3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT_ODS4",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@pipeline().parameters.Data_Carrega",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_BEG_FACT_DM",
									"description": "Inserta en la DM_BEG_FACT_INDICADORS",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_BEG_FACT_ODS5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT_DM",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@pipeline().parameters.Data_Carrega",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_BEG_FACT_ODS5",
									"description": "Une los prestamos anuales con los demás y añade el AGENCY como codigo.",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_BEG_FACT_ODS4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT_ODS5",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@pipeline().parameters.Data_Carrega",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_BEG_FACT_STG_HIST",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT_STG_HIST",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@pipeline().parameters.Data_Carrega",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "NUM_ERRORS",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PL_BEG_FACT_STG_PRESTECS",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@CONCAT('select COUNT(error) AS NUM_ERRORS from [BEG_STG].[LOGS_BEG]\nwhere error not like ''%sftppathnotfound%'' AND ERROR IS NOT NULL AND DATA_INSERCIO < ''',activity('DATA_INICIO').output.firstRow.DATA_INICIO,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DM_BEG_FACT_INDICADORS",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET_NUM_ERRORS",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "NUM_ERRORS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "NUM_ERRORS",
							"value": {
								"value": "@string(activity('NUM_ERRORS').output.firstRow.NUM_ERRORS)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DATA_INICIO",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS DATA_INICIO;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DM_BEG_FACT_INDICADORS",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET_DATA_INICIO",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DATA_INICIO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DATA_INICIO",
							"value": {
								"value": "@activity('DATA_INICIO').output.firstRow.DATA_INICIO",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Data_Carrega": {
						"type": "string",
						"defaultValue": "202101"
					}
				},
				"variables": {
					"NUM_ERRORS": {
						"type": "String"
					},
					"DATA_INICIO": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX FITXERS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ENTRY_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_BEG_DATA_ENTRY",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SET_V_DATA_CARREGA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_DATA_ENTRY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@variables('V_DATA_CARREGA')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LeerMesACargar",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT CONCAT(SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,0,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),1,4),SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,0,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),6,2)) AS DATA FROM [BEG_DM].[DM_BEG_ADMIN_WEB];",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DM_BEG_DIM_TIME",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET_V_DATA_CARREGA",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LeerMesACargar",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_DATA_CARREGA",
							"value": {
								"value": "@string(activity('LeerMesACargar').output.firstRow.DATA)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"V_DATA_CARREGA": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX DATA ENTRY"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DIBICA_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DIBICA_STG",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_DIBICA_STG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_DIBICA_DM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_DIBICA_STG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_DIBICA_DM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DIBICA"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TERRITORIAL_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_BEG_TERRITORIAL_STG",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_TERRITORIAL_STG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_BEG_TERRITORIAL_DM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_TERRITORIAL_STG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_TERRITORIAL_DM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TERRITORIAL"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BEG_BAIXES_HISTORICO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FIJAR_INICIO",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_F_FIN",
							"value": {
								"value": "@pipeline().parameters.P_INI",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IGUALA_FI",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FIJAR_INICIO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_F_FIN_2",
							"value": {
								"value": "@variables('V_F_FIN')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "BUCLE",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "IGUALA_FI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('V_UNTIL')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CHECK_FIN_BUCLE",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "PL_BEG_BAIXES",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_UNTIL",
										"value": {
											"value": "@bool(lessOrEquals(pipeline().parameters.P_FIN, variables('V_F_FIN')))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "CHECK_FIN_BUCLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_F_FIN",
										"value": {
											"value": "@if(equals(substring(variables('V_F_FIN_2'),4,2),'12'),concat(string(add(int(substring(variables('V_F_FIN_2'),0,4)),1)),'01') , string(add(int(variables('V_F_FIN_2')),1)))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_F_FIN_2",
										"value": {
											"value": "@variables('V_F_FIN')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "PL_BEG_BAIXES",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_BAIXES",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@variables('V_F_FIN')",
												"type": "Expression"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_INI": {
						"type": "string",
						"defaultValue": "202101"
					},
					"P_FIN": {
						"type": "string",
						"defaultValue": "202106"
					}
				},
				"variables": {
					"V_UNTIL": {
						"type": "Boolean",
						"defaultValue": false
					},
					"V_F_FIN": {
						"type": "String"
					},
					"V_F_FIN_2": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX BAIXES"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_BEG_BAIXES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BEG_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_BEG_FACT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@variables('V_DATA_CARREGA')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_BEG_DIM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SET_V_DATA_CARREGA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_DIM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LeerMesACargar",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT CONCAT(SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,1,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),1,4),SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,1,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),6,2)) AS DATA FROM [BEG_DM].[DM_BEG_ADMIN_WEB];",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DM_BEG_DIM_TIME",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET_V_DATA_CARREGA",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LeerMesACargar",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_DATA_CARREGA",
							"value": {
								"value": "@string(activity('LeerMesACargar').output.firstRow.DATA)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "PL_BEG_CREA_DATA_ENTRI",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BEG_FACT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_CREA_DATA_ENTRY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Carrega": {
									"value": "@variables('V_DATA_CARREGA')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"V_DATA_CARREGA": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX FITXERS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_BEG_FACT')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BEG_DIM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BEG_HISTORICO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BUCLE",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "IGUALA_FI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('V_UNTIL')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CHECK_FIN_BUCLE",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "IF_BAIXES",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_UNTIL",
										"value": {
											"value": "@bool(lessOrEquals(pipeline().parameters.P_FIN, variables('V_F_FIN')))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "CHECK_FIN_BUCLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_F_FIN",
										"value": {
											"value": "@if(equals(substring(variables('V_F_FIN_2'),4,2),'12'),concat(string(add(int(substring(variables('V_F_FIN_2'),0,4)),1)),'01') , string(add(int(variables('V_F_FIN_2')),1)))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_F_FIN_2",
										"value": {
											"value": "@variables('V_F_FIN')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "PL_BEG_FACT",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SET_MAX_DATA_BAIXES",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_BEG_FACT",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Data_Carrega": {
												"value": "@variables('V_F_FIN')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "IF_BAIXES",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "PL_BEG_FACT",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@lessOrEquals(int(variables('V_F_FIN')),int(concat(substring(variables('MAX_DATA_BAIXES'),0,4),substring(variables('MAX_DATA_BAIXES'),5,2))))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "PL_BEG_BAIXES_HISTORICO",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_BEG_BAIXES_HISTORICO",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"P_INI": {
															"value": "@variables('V_F_FIN')",
															"type": "Expression"
														},
														"P_FIN": {
															"value": "@if(equals(substring(variables('V_F_FIN'),4,2),'12'),concat(string(add(int(substring(variables('V_F_FIN'),0,4)),1)),'01') , string(add(int(variables('V_F_FIN')),1)))",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "GET_MAX_DATA_BAIXES",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select MAX(DATA_PERIODE) AS MAX_DATA_BAIXES FROM [BEG_DM].[DM_BEG_FACT_INDICADORS]\nWHERE CODI_INDICADOR = 'IND_3_10011';",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DM_BEG_FACT_INDICADORS",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "SET_MAX_DATA_BAIXES",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GET_MAX_DATA_BAIXES",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "MAX_DATA_BAIXES",
										"value": {
											"value": "@substring(string(activity('GET_MAX_DATA_BAIXES').output.firstRow.MAX_DATA_BAIXES),0,10)",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "FIJAR_INICIO",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_F_FIN",
							"value": {
								"value": "@pipeline().parameters.P_INI",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IGUALA_FI",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FIJAR_INICIO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_F_FIN_2",
							"value": {
								"value": "@variables('V_F_FIN')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_INI": {
						"type": "string",
						"defaultValue": "202101"
					},
					"P_FIN": {
						"type": "string",
						"defaultValue": "202112"
					}
				},
				"variables": {
					"V_UNTIL": {
						"type": "Boolean",
						"defaultValue": false
					},
					"V_F_FIN": {
						"type": "String"
					},
					"V_F_FIN_2": {
						"type": "String"
					},
					"MAX_DATA_BAIXES": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX FITXERS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_BEG_FACT')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BEG_BAIXES_HISTORICO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BEG_SEMESTRAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SET_V_INI",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LeerMesDeCargaIni",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_INI",
							"value": {
								"value": "@string(activity('LeerMesDeCargaIni').output.firstRow.DATA)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "PL_BEG_BAIXES_HISTORICO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SET_V_FIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BEG_BAIXES_HISTORICO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_INI": {
									"value": "@variables('V_INI')",
									"type": "Expression"
								},
								"P_FIN": {
									"value": "@variables('V_FIN')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LeerMesDeCargaIni",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT CONCAT(SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-7,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),1,4),SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-7,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),6,2)) AS DATA FROM [BEG_DM].[DM_BEG_ADMIN_WEB];",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DM_BEG_DIM_TIME",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET_V_FIN",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LeerMesDeCargaFin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FIN",
							"value": {
								"value": "@string(activity('LeerMesDeCargaFin').output.firstRow.DATA)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "LeerMesDeCargaFin",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET_V_INI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT CONCAT(SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-2,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),1,4),SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-2,CONVERT(date, CONCAT('1-',SUBSTRING(ULTIM_MES_CARREGAT,6,2),'-',SUBSTRING(ULTIM_MES_CARREGAT,1,4)), 103))),6,2)) AS DATA FROM [BEG_DM].[DM_BEG_ADMIN_WEB];",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DM_BEG_DIM_TIME",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"V_INI": {
						"type": "String"
					},
					"V_FIN": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SINTESI BEG/FLUX BAIXES"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T09:22:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_BEG_BAIXES_HISTORICO')]"
			]
		}
	]
}